.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item{
    font-weight: 300;
  }
  &__link{
    text-decoration: none;
  }

}
.header{
  background-color: #fff;
  &__content{
    display: block;
  }
}
.text{
  display: grid;
}
h1{
  color: red;
}